.card-wrapper {
    margin-right: 12px;
    float: left;
}

.two-point {
    background-color: #3498DB;
}

.five-point {
    background-color: #F1C40F;
}

.ten-point {
    background-color: #2ECC71;
}

.fifteen-point {
    background-color: #9B59B6;
}

.blank-card {
    background-color: #BDC3C7;
}

.two-card {
    display: flex;
    justify-content: space-between;
}

.two-card [class$="dice"]:nth-of-type(2) {
    align-self: flex-end;
}

.three-card {
    display: flex;
    justify-content: space-between;
}

.three-card .card-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.three-card .card-column:nth-of-type(2) {
    justify-content: center;
}

.three-card .card-column:nth-of-type(3) {
    justify-content: flex-end;
}

.four-card, .six-card {
    display: flex;
    justify-content: space-between;
}

.four-card .card-column, .six-card .card-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

[class$="card"] {
    width: 120px;
    height: 160px;
    margin: 2px;
    padding: 20px;
    border-radius: 8px;
}
