@import "normalize";
@import "variables";

html, body {
    height: 100%;
}

body {
    font: 100% $font-stack;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    margin-top: 10px;
}

@import "grid";

@import "game";
@import "card";
@import "dice";
