@each $id, $color in $player-colors {
    .player-color-#{$id} {
        background-color: $color;
    }
}

@each $dice, $color in $card-colors {
    .card-color-#{$dice} {
        background-color: $color;
    }
}

.header {
    color: $font-color;
    text-align: center;
    height: 50px;
    padding: 10px;
}
