@each $id, $color in $player-colors {
    .player-color-#{$id} {
        background-color: $color;
    }
}

@each $dice, $color in $card-colors {
    .card-color-#{$dice} {
        background-color: $color;
    }
}

.header {
    color: $font-color;
    text-align: center;
    height: 50px;
    padding: 10px;
}

.current_player {
    background-color: #34495E;
}

a.button {
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    background-color: #34495E;

    &:hover {
        background-color: #2C3E50;
    }
}
